{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}


    <form action="/artigos/save" method="post">
        <div>
            <label for="titulo">Título do artigo: </label>
            <input type="text" name="titulo" id="titulo" required>
        </div>
        <div>
            <label for="ano_publicacao">Ano de publicação: </label>
            <input type="number" name="ano_publicacao" id="ano_publicacao" required>
        </div>
        <div>
            <label for="id_autor">Autor: </label>
            <select name="id_autor" id="id_autor" required>
                <option value=""></option>
                {% for au in autor %}
                <option value="{{au.id}}">{{au.nome}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Salvar</button>    
    </form>
{% endblock %}
