{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/artigos/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Título do artigo</th>
            <th>Ano de publicação</th>
            <th>Autor</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        {% for ar in artigo %}
        <tr>
            <td>{{ar.titulo}}</td>
            <td>{{ar.ano_publicacao}}</td>
            <td>{{ar.autor.nome}}</td>
            <td><a href="/artigos/edita/{{ar.id_autor}}">🖉</a></td>
            <td><a href="/artigos/remove/{{ar.id_autor}}">🗑</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}